Repository Sybl-ml/dodona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown, @G-Kemp101, @hallnath1

.github/CODEOWNERS:

/backend/api-server @alexander-jackson
/backend/crypto @AlistairRobinson
/backend/dcl @FreddieBrown
/backend/interface @alexander-jackson
/mallus @G-Kemp101
/web @hallnath1

Web takes images with limited size and pings the upload after a successful account creation
  web/src/components/AvatarUpload.vue
  web/src/views/Register.vue
Owners: @hallnath1

Setting update avatar option
  web/src/views/Settings.vue
Owners: @hallnath1

Included route and function for uploading avatar image as binary data
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/payloads.rs
  backend/api-server/src/routes/users.rs
  backend/models/src/users.rs
  web/src/components/AvatarUpload.vue
  web/src/views/Register.vue
Owners: @alexander-jackson, @hallnath1

Navbar pulls from backend for avatar image
  backend/api-server/src/routes/users.rs
  web/src/components/AvatarUpload.vue
  web/src/components/Header.vue
  web/src/views/Settings.vue
Owners: @alexander-jackson, @hallnath1

Force reload when changing avatar
  web/src/views/Settings.vue
Owners: @hallnath1

Commeting
  backend/api-server/src/routes/users.rs
Owners: @alexander-jackson

Add two tests for avatars
  backend/api-server/tests/users.rs
Owners: @alexander-jackson

Updated Tab View
  web/src/views/Register.vue
Owners: @hallnath1

Formatting update
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/users.rs
  backend/api-server/tests/users.rs
Owners: @alexander-jackson

Modifications for alex
  backend/api-server/src/routes/users.rs
Owners: @alexander-jackson

correcting spelling
  backend/dcl/src/job_end/mod.rs
Owners: @FreddieBrown

timeout added
  backend/dcl/src/job_end/mod.rs
  backend/dcl/tests/job.rs
Owners: @FreddieBrown

update lock file
  backend/Cargo.lock
Owners: none

clean up and use JobConfiguration more
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/lib.rs
  backend/dcl/tests/job.rs
  backend/messages/src/client.rs
Owners: @FreddieBrown

using from instead of try_from
  backend/dcl/src/job_end/mod.rs
  backend/messages/src/client.rs
Owners: @FreddieBrown

Job timeout (#313)
  backend/Cargo.lock
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/lib.rs
  backend/dcl/tests/job.rs
  backend/messages/src/client.rs
Owners: @FreddieBrown

Streamlined project creation and included project tags
  backend/api-server/src/routes/payloads.rs
  backend/api-server/src/routes/projects.rs
  backend/models/src/projects.rs
  web/src/components/AddProject.vue
  web/src/views/Dashboard.vue
Owners: @alexander-jackson, @hallnath1

Limit Description height and included scrolling
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Formatting for starting processing
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Switch to warning
  web/src/components/AddProject.vue
Owners: @hallnath1

Slight improvment to analytics column style
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Update Cargo.lock and fix tests
  backend/Cargo.lock
  backend/api-server/tests/assets/base64_avatar.txt
  backend/api-server/tests/users.rs
Owners: @alexander-jackson

Registration Form Update (#311)
  backend/Cargo.lock
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/payloads.rs
  backend/api-server/src/routes/users.rs
  backend/api-server/tests/assets/base64_avatar.txt
  backend/api-server/tests/users.rs
  backend/models/src/users.rs
  web/src/components/AvatarUpload.vue
  web/src/components/Header.vue
  web/src/views/Register.vue
  web/src/views/Settings.vue
Owners: @alexander-jackson, @hallnath1

Custom File Upload Component
  web/src/components/FileUpload.vue
Owners: @hallnath1

Included tags on project view
  web/src/components/ProjectView.vue
Owners: @hallnath1

Allowed train and predict files uploaded individually
  web/src/components/AddProject.vue
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Styling Update
  web/src/components/FileUpload.vue
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Trim on analysis for processing
  backend/analytics/src/dataset_analysis/mod.rs
Owners: none

Initial work for numerical graphical output, gathering bins of ranges
  backend/analytics/src/dataset_analysis/mod.rs
  backend/models/src/dataset_analysis.rs
  web/src/components/ProjectOverview.vue
  web/src/components/charts/NumericalDataAnalyticsBar.vue
Owners: @hallnath1

Improved bin keys
  backend/analytics/src/dataset_analysis/mod.rs
  web/src/components/charts/NumericalDataAnalyticsBar.vue
Owners: @hallnath1

Included editorial powers for project tags and emitted to update dashboard
  web/src/components/ProjectView.vue
Owners: @hallnath1

Included editorial powers for project tags and emitted to update dashboard
  web/src/components/charts/NumericalDataAnalyticsBar.vue
  web/src/views/Dashboard.vue
Owners: @hallnath1

Display training and prediction dataset on input tag
  web/src/components/PaginationTable.vue
  web/src/components/ProjectInput.vue
Owners: @hallnath1

Included editorial powers for project tags and emitted to update dashboard
  web/src/components/ProjectSettings.vue
Owners: @hallnath1

Searching project checks tags
  web/src/views/Dashboard.vue
Owners: @hallnath1

Conditional disabled input tab when no data is uploaded, must do same with output
  web/src/components/ProjectView.vue
Owners: @hallnath1

Fixed typo
  web/src/components/FileUpload.vue
Owners: @hallnath1

Show/Hide for job config
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Remove outline variant
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Description formatting
  web/src/components/ProjectOverview.vue
Owners: @hallnath1
