Repository Sybl-ml/dodona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown, @G-Kemp101, @hallnath1

.github/CODEOWNERS:

/backend/api-server @alexander-jackson
/backend/crypto @AlistairRobinson
/backend/dcl @FreddieBrown
/backend/interface @alexander-jackson
/mallus @G-Kemp101
/web @hallnath1

testing Alex's nightmares
  backend/api-server/tests/projects.rs
  backend/api-server/tests/users.rs
Owners: @alexander-jackson

increase chunk size
  backend/api-server/src/routes/projects.rs
  backend/dcl/src/job_end/mod.rs
Owners: @alexander-jackson, @FreddieBrown

Feat/gridfs (#334)
  .gitignore
  backend/Cargo.lock
  backend/analytics/src/dataset_analysis/mod.rs
  backend/api-server/Cargo.toml
  backend/api-server/src/error.rs
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/assets/asl.csv
  backend/api-server/tests/assets/dasl.csv
  backend/api-server/tests/common.rs
  backend/api-server/tests/projects.rs
  backend/api-server/tests/users.rs
  backend/dcl/Cargo.toml
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/mod.rs
  backend/models/Cargo.toml
  backend/models/src/datasets.rs
  backend/models/src/gridfs.rs
  backend/models/src/lib.rs
  backend/models/src/predictions.rs
  backend/models/tests/common.rs
  backend/models/tests/delete_items.rs
  backend/utils/Cargo.toml
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOutput.vue
  web/src/components/ProjectOverview.vue
  web/src/components/ProjectView.vue
  web/src/services/UploadFilesService.js
Owners: @alexander-jackson, @FreddieBrown, @hallnath1

Added new things to job config and dd
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/routes/projects.rs
  backend/dcl/tests/job.rs
  backend/models/src/dataset_details.rs
  backend/models/src/jobs.rs
Owners: @alexander-jackson, @FreddieBrown

Add new test to prove functionality
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

fixed tests
  backend/api-server/tests/common.rs
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

remove libmath
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Added new things to job config and dd (#335)
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/common.rs
  backend/api-server/tests/projects.rs
  backend/dcl/tests/job.rs
  backend/models/src/dataset_details.rs
  backend/models/src/jobs.rs
Owners: @alexander-jackson, @FreddieBrown

Penalise models which do not return numerical values for regression problems
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
Owners: @FreddieBrown

Fix model performance in case of failed job
  backend/dcl/src/job_end/ml.rs
Owners: @FreddieBrown

Penalise models which return incorrect predictions for regression (#337)
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
Owners: @FreddieBrown

feat: add basic email notifications
  backend/Cargo.lock
  backend/dcl/Cargo.toml
  backend/dcl/src/job_end/mod.rs
Owners: @FreddieBrown

added title header to predictions and complete endpoint
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  backend/dcl/src/job_end/ml.rs
  backend/dcl/tests/job.rs
  backend/models/src/gridfs.rs
Owners: @alexander-jackson, @FreddieBrown

feat: add basic email notifications (#340)
  backend/Cargo.lock
  backend/dcl/Cargo.toml
  backend/dcl/src/job_end/mod.rs
Owners: @FreddieBrown

Improve Job Cost calculation to consider dimensionality and problem size
  backend/api-server/src/routes/projects.rs
  backend/utils/src/finance.rs
Owners: @alexander-jackson

Remove unnecessary cost per model constant
  backend/utils/src/finance.rs
Owners: none

Generalise size denominator to separate constant
  backend/utils/src/finance.rs
Owners: none

Prevent jobs from having 0 cost if small
  backend/utils/src/finance.rs
Owners: none

Increase user starting credits to aid debugging
  backend/models/src/users.rs
Owners: none

Fix test to work with new starting credit value
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

Improve Job Cost calculation to consider dimensionality and problem size (#343)
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/projects.rs
  backend/models/src/users.rs
  backend/utils/src/finance.rs
Owners: @alexander-jackson

feat: use timestamps for computation timeouts
  backend/Cargo.lock
  backend/api-server/src/routes/payloads.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/projects.rs
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/node_end/mod.rs
  backend/dcl/tests/job.rs
  backend/messages/Cargo.toml
  backend/messages/src/client.rs
  backend/models/src/jobs.rs
  web/src/components/ProjectOverview.vue
Owners: @alexander-jackson, @FreddieBrown, @hallnath1

feat: use timestamps for computation timeouts (#342)
  backend/Cargo.lock
  backend/api-server/src/routes/payloads.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/projects.rs
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/node_end/mod.rs
  backend/dcl/tests/job.rs
  backend/messages/Cargo.toml
  backend/messages/src/client.rs
  backend/models/src/jobs.rs
  web/src/components/ProjectOverview.vue
Owners: @alexander-jackson, @FreddieBrown, @hallnath1

docs: add some more README files
  backend/analytics/README.md
  backend/api-server/README.md
  backend/config/README.md
  backend/crypto/README.md
  backend/dcl/README.md
  backend/messages/README.md
  backend/models/README.md
  backend/utils/README.md
  web/README.md
Owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown, @hallnath1

docs: remove nightly compiler from README
  README.md
Owners: none

docs: swap `React` for `Vue.js`
  README.md
Owners: none

docs: add some more README files (#347)
  README.md
  backend/analytics/README.md
  backend/api-server/README.md
  backend/config/README.md
  backend/crypto/README.md
  backend/dcl/README.md
  backend/messages/README.md
  backend/models/README.md
  backend/utils/README.md
  web/README.md
Owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown, @hallnath1

fix: swap to DOS line endings, add `name` fields
  backend/api-server/tests/assets/dasl.csv
Owners: @alexander-jackson

refactor: remove `Option<T>` from datasets
  backend/analytics/src/dataset_analysis/mod.rs
  backend/api-server/src/routes/projects.rs
  backend/dcl/src/interface_end/mod.rs
  backend/models/src/datasets.rs
  backend/models/tests/common.rs
Owners: @alexander-jackson, @FreddieBrown

preparing endpoint for vuetables
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  web/src/components/APIPaginationTable.vue
  web/src/components/ProjectInput.vue
  web/src/components/ProjectView.vue
Owners: @alexander-jackson, @hallnath1

tests: add tests for invalid multipart uploads
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/assets/only_predict_dataset.csv
  backend/api-server/tests/assets/only_train_dataset.csv
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

refactor: require both train and predict (#348)
  backend/analytics/src/dataset_analysis/mod.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/assets/only_predict_dataset.csv
  backend/api-server/tests/assets/only_train_dataset.csv
  backend/api-server/tests/projects.rs
  backend/dcl/src/interface_end/mod.rs
  backend/models/src/datasets.rs
  backend/models/tests/common.rs
Owners: @alexander-jackson, @FreddieBrown

feat: improve logging throughout `models`
  backend/Cargo.lock
  backend/api-server/src/main.rs
  backend/api-server/src/routes/projects.rs
  backend/config/src/lib.rs
  backend/dcl/src/lib.rs
  backend/dcl/src/node_end/mod.rs
  backend/models/Cargo.toml
  backend/models/src/dataset_analysis.rs
  backend/models/src/dataset_details.rs
  backend/models/src/datasets.rs
  backend/models/src/gridfs.rs
  backend/models/src/job_performance.rs
  backend/models/src/jobs.rs
  backend/models/src/models.rs
  backend/models/src/predictions.rs
  backend/models/src/projects.rs
  backend/models/src/users.rs
Owners: @alexander-jackson, @FreddieBrown

built pagination endpoint
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  web/src/components/APIPaginationTable.vue
  web/src/components/ProjectInput.vue
  web/src/components/ProjectView.vue
Owners: @alexander-jackson, @hallnath1

move soem job end code around
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/node_end/mod.rs
Owners: @FreddieBrown

fixed row bug for big page sizes and better endpoint
  backend/api-server/src/routes/projects.rs
  web/src/components/APIPaginationTable.vue
  web/src/components/ProjectInput.vue
Owners: @alexander-jackson, @hallnath1

Hide Analytics section if no analytics generated
  web/src/components/ProjectOverview.vue
Owners: @hallnath1

Corrected analytics call for both upload methods
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Formatting fix
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Formatting fix
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson
