Repository Sybl-ml/dodona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown, @G-Kemp101, @hallnath1

.github/CODEOWNERS:

/backend/api-server @alexander-jackson
/backend/crypto @AlistairRobinson
/backend/dcl @FreddieBrown
/backend/interface @alexander-jackson
/mallus @G-Kemp101
/web @hallnath1

Disabled clean on load
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Updated line split
  backend/utils/src/lib.rs
Owners: none

Displays Test and Predict seperately
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOverview.vue
  web/src/components/charts/DataAnalyticsBar.vue
  web/src/components/charts/NumericalDataAnalyticsBar.vue
Owners: @hallnath1

Begin adding large file support
  .gitignore
  backend/Cargo.lock
  backend/analytics/Cargo.toml
  backend/api-server/Cargo.toml
  backend/api-server/src/error.rs
  backend/api-server/src/routes/projects.rs
  backend/config/Cargo.toml
  backend/crypto/Cargo.toml
  backend/crypto/src/lib.rs
  backend/dcl/Cargo.toml
  backend/messages/Cargo.toml
  backend/models/Cargo.toml
  backend/models/src/gridfs.rs
  backend/models/src/lib.rs
  backend/utils/Cargo.toml
Owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown

refactor: resolve some `clippy` lints
  backend/analytics/src/dataset_analysis/mod.rs
  backend/analytics/src/dataset_analysis/tests.rs
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/lib.rs
  backend/dcl/src/node_end/mod.rs
  backend/messages/src/client.rs
  backend/utils/src/anon.rs
  backend/utils/src/lib.rs
Owners: @FreddieBrown

dependencies: update `actix-cors`
  backend/Cargo.lock
  backend/api-server/Cargo.toml
Owners: @alexander-jackson

refactor: resolve some `clippy` lints (#320)
  backend/Cargo.lock
  backend/analytics/src/dataset_analysis/mod.rs
  backend/analytics/src/dataset_analysis/tests.rs
  backend/api-server/Cargo.toml
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/lib.rs
  backend/dcl/src/node_end/mod.rs
  backend/messages/src/client.rs
  backend/utils/src/anon.rs
  backend/utils/src/lib.rs
Owners: @alexander-jackson, @FreddieBrown

dependencies: remove some unused ones
  backend/Cargo.lock
  backend/analytics/Cargo.toml
  backend/api-server/Cargo.toml
  backend/crypto/Cargo.toml
  backend/crypto/src/lib.rs
  backend/dcl/Cargo.toml
  backend/models/Cargo.toml
  backend/utils/Cargo.toml
Owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown

dependencies: update all
  backend/Cargo.lock
  backend/analytics/Cargo.toml
  backend/api-server/Cargo.toml
  backend/config/Cargo.toml
  backend/crypto/Cargo.toml
  backend/dcl/Cargo.toml
  backend/messages/Cargo.toml
  backend/models/Cargo.toml
  backend/utils/Cargo.toml
Owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown

dependencies: remove unused and update (#321)
  backend/Cargo.lock
  backend/analytics/Cargo.toml
  backend/api-server/Cargo.toml
  backend/config/Cargo.toml
  backend/crypto/Cargo.toml
  backend/crypto/src/lib.rs
  backend/dcl/Cargo.toml
  backend/messages/Cargo.toml
  backend/models/Cargo.toml
  backend/utils/Cargo.toml
Owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown

changing frontend to accept multipart
  backend/api-server/src/routes/projects.rs
  web/src/components/ProjectOverview.vue
  web/src/components/UploadFiles.vue
  web/src/services/UploadFilesService.js
Owners: @alexander-jackson, @hallnath1

changing frontend to accept multipart
  backend/api-server/src/routes/projects.rs
  web/src/components/ProjectOverview.vue
  web/src/components/UploadFiles.vue
  web/src/services/UploadFilesService.js
Owners: @alexander-jackson, @hallnath1

Begin adding large file support
  .gitignore
  backend/Cargo.lock
  backend/api-server/src/error.rs
  backend/api-server/src/routes/projects.rs
  backend/models/Cargo.toml
  backend/models/src/gridfs.rs
  backend/models/src/lib.rs
  backend/utils/Cargo.toml
Owners: @alexander-jackson

working out frontend multipart
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  web/src/components/UploadFiles.vue
Owners: @alexander-jackson, @hallnath1

fix: disallow multiple signups
  backend/api-server/src/routes/users.rs
  backend/api-server/tests/users.rs
  web/src/views/Register.vue
Owners: @alexander-jackson, @hallnath1

Removed Legacy Components
  web/src/assets/icons/Coder.js
  web/src/assets/icons/Logo.js
  web/src/assets/icons/LogoImage.js
  web/src/assets/icons/Placeholder.js
  web/src/assets/icons/test.svg
  web/src/components/icons/sybl_purple.svg
Owners: @hallnath1

Created custom UI components
  web/src/components/icons/box-1.vue
  web/src/components/icons/cloud-1.vue
  web/src/components/icons/drop.vue
  web/src/components/icons/waves.vue
Owners: @hallnath1

Created custom UI components
  web/src/components/icons/terminal.vue
Owners: @hallnath1

Created custom UI components
  web/src/components/icons/LandingImage.vue
Owners: @hallnath1

Modified NavBar
  web/src/components/Header.vue
Owners: @hallnath1

Visual update to landing page
  web/src/views/Welcome.vue
Owners: @hallnath1

Format Updating
  backend/analytics/src/dataset_analysis/mod.rs
  backend/models/src/projects.rs
Owners: none

docs: explain conflict condition
  backend/api-server/src/routes/users.rs
Owners: @alexander-jackson

Updated missing test
  backend/models/tests/common.rs
Owners: none

Fixed Formatting
  backend/models/tests/common.rs
Owners: none

Fixed AArray import issue for tags
  backend/models/tests/common.rs
Owners: none

Formatting
  backend/models/tests/common.rs
Owners: none

Fixed Array import issue for tags
  backend/models/tests/common.rs
Owners: none

Further testing tweaks
  backend/analytics/src/dataset_analysis/tests.rs
  backend/api-server/tests/common.rs
  backend/models/tests/common.rs
Owners: @alexander-jackson

Can stream data, need to change fe to use
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  backend/messages/Cargo.toml
  backend/models/src/datasets.rs
  backend/models/src/gridfs.rs
  backend/models/tests/common.rs
  web/src/components/ProjectOverview.vue
  web/src/components/ProjectView.vue
  web/src/components/UploadFiles.vue
Owners: @alexander-jackson, @hallnath1

renders larger datasets
  web/src/components/ProjectView.vue
Owners: @hallnath1

can upload dataset and request training or prediction data
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

send analytics server message
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Updated garish styling
  web/src/views/Welcome.vue
Owners: @hallnath1

Updated project test, missing a tag component
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

refactor: style changes
  backend/analytics/src/dataset_analysis/mod.rs
Owners: none

feat: add nicer error messages
  backend/dcl/src/node_end/mod.rs
  backend/dcl/src/protocol/mod.rs
Owners: @FreddieBrown

feat: make JWT keys secret in production
  backend/api-server/src/auth/mod.rs
Owners: @alexander-jackson

deps: upgrade `pbkdf2`
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/auth/mod.rs
  backend/api-server/src/error.rs
  backend/api-server/src/routes/clients.rs
  backend/api-server/src/routes/users.rs
Owners: @alexander-jackson

refactor: move password utils to `crypto`
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/auth/mod.rs
  backend/api-server/src/routes/clients.rs
  backend/api-server/src/routes/users.rs
  backend/crypto/Cargo.toml
  backend/crypto/src/lib.rs
Owners: @alexander-jackson, @AlistairRobinson
