Repository Sybl-ml/dodona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown, @G-Kemp101, @hallnath1

.github/CODEOWNERS:

/backend/api-server @alexander-jackson
/backend/crypto @AlistairRobinson
/backend/dcl @FreddieBrown
/backend/interface @alexander-jackson
/mallus @G-Kemp101
/web @hallnath1

deps: upgrade `pbkdf2` in the DCL
  backend/Cargo.lock
  backend/dcl/Cargo.toml
  backend/dcl/tests/common.rs
Owners: @FreddieBrown

feat: make JWT keys secret in production (#324)
  backend/api-server/src/auth/mod.rs
Owners: @alexander-jackson

fix: use `crypto` in `api-server` tests
  backend/api-server/tests/common.rs
Owners: @alexander-jackson

Updated Project Creation + Numerical Analytics + Landing Page (#323)
  backend/analytics/src/dataset_analysis/mod.rs
  backend/analytics/src/dataset_analysis/tests.rs
  backend/api-server/src/routes/payloads.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/common.rs
  backend/api-server/tests/projects.rs
  backend/models/src/dataset_analysis.rs
  backend/models/src/projects.rs
  backend/models/tests/common.rs
  backend/utils/src/lib.rs
  web/src/assets/icons/Coder.js
  web/src/assets/icons/Logo.js
  web/src/assets/icons/LogoImage.js
  web/src/assets/icons/Placeholder.js
  web/src/assets/icons/test.svg
  web/src/components/AddProject.vue
  web/src/components/FileUpload.vue
  web/src/components/Header.vue
  web/src/components/PaginationTable.vue
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOverview.vue
  web/src/components/ProjectSettings.vue
  web/src/components/ProjectView.vue
  web/src/components/charts/NumericalDataAnalyticsBar.vue
  web/src/components/icons/LandingImage.vue
  web/src/components/icons/box-1.vue
  web/src/components/icons/cloud-1.vue
  web/src/components/icons/drop.vue
  web/src/components/icons/sybl_purple.svg
  web/src/components/icons/terminal.vue
  web/src/components/icons/waves.vue
  web/src/views/Dashboard.vue
  web/src/views/Welcome.vue
Owners: @alexander-jackson, @hallnath1

Upgrade `pbdkf2` version (#325)
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/error.rs
  backend/api-server/src/routes/clients.rs
  backend/api-server/src/routes/users.rs
  backend/api-server/tests/common.rs
  backend/crypto/Cargo.toml
  backend/crypto/src/lib.rs
  backend/dcl/Cargo.toml
  backend/dcl/tests/common.rs
Owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown

fix: disallow multiple signups (#322)
  backend/api-server/src/routes/users.rs
  backend/api-server/tests/users.rs
  web/src/views/Register.vue
Owners: @alexander-jackson, @hallnath1

updated predictions endpoint
  backend/api-server/src/routes/projects.rs
  backend/models/src/datasets.rs
  backend/models/src/predictions.rs
Owners: @alexander-jackson

added gridfs to prediction storage
  backend/Cargo.lock
  backend/dcl/Cargo.toml
  backend/dcl/src/job_end/mod.rs
Owners: @FreddieBrown

added gridfs to dcl
  backend/dcl/src/interface_end/mod.rs
  backend/models/src/gridfs.rs
Owners: @FreddieBrown

added gridfs to analytics server
  backend/analytics/src/dataset_analysis/mod.rs
Owners: none

Refactor `finance` submodule into `utils`
  backend/Cargo.lock
  backend/dcl/src/job_end/finance.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/tests/job.rs
  backend/utils/Cargo.toml
  backend/utils/src/finance.rs
  backend/utils/src/lib.rs
Owners: @FreddieBrown

fixed test
  backend/models/Cargo.toml
  backend/models/tests/common.rs
Owners: none

commented out tests that don't work
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

Add job cost calculations and charge users on job submission
  backend/api-server/src/error.rs
  backend/api-server/src/routes/projects.rs
  backend/dcl/tests/job.rs
  backend/models/src/jobs.rs
  backend/models/src/users.rs
  backend/utils/src/finance.rs
Owners: @alexander-jackson, @FreddieBrown

Reimburse clients based on model performance, refactor job cost to job config
  backend/api-server/src/error.rs
  backend/api-server/src/routes/projects.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/tests/job.rs
  backend/models/src/jobs.rs
  backend/utils/src/finance.rs
Owners: @alexander-jackson, @FreddieBrown

Add test to ensure that users without sufficient credits cannot submit expensive jobs
  backend/api-server/tests/projects.rs
  backend/models/src/users.rs
Owners: @alexander-jackson

Requested changes to logging
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Add separate test for insufficient funds
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

tests: fix the multipart upload tests
  backend/api-server/tests/assets/asl.csv
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

tests: fix the multipart upload tests (#332)
  backend/api-server/tests/assets/asl.csv
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

update project status
  backend/api-server/src/routes/projects.rs
  web/src/components/ProjectOutput.vue
  web/src/components/ProjectView.vue
Owners: @alexander-jackson, @hallnath1

render predictions properly
  web/src/components/ProjectOutput.vue
  web/src/components/ProjectView.vue
Owners: @hallnath1

better prediction cleanup
  backend/api-server/src/routes/projects.rs
  backend/models/src/gridfs.rs
  backend/models/src/predictions.rs
Owners: @alexander-jackson

Finance (#331)
  backend/Cargo.lock
  backend/api-server/src/error.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/projects.rs
  backend/dcl/src/job_end/finance.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/tests/job.rs
  backend/models/src/jobs.rs
  backend/models/src/users.rs
  backend/utils/Cargo.toml
  backend/utils/src/finance.rs
  backend/utils/src/lib.rs
Owners: @alexander-jackson, @FreddieBrown

Begin adding large file support
  .gitignore
  backend/Cargo.lock
  backend/api-server/src/error.rs
  backend/api-server/src/routes/projects.rs
  backend/models/Cargo.toml
  backend/models/src/gridfs.rs
  backend/models/src/lib.rs
Owners: @alexander-jackson

more consistent chunking
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

load in prediction data
  web/src/components/ProjectView.vue
Owners: @hallnath1

Can do train and predict upload
  backend/Cargo.lock
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/projects.rs
  backend/models/src/datasets.rs
  web/src/components/ProjectOverview.vue
  web/src/components/ProjectView.vue
  web/src/components/UploadFiles.vue
Owners: @alexander-jackson, @hallnath1

fixed frontend predict rendering
  web/src/components/ProjectInput.vue
  web/src/components/ProjectView.vue
Owners: @hallnath1

Changes part 1
  backend/api-server/src/routes/projects.rs
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/mod.rs
  backend/models/src/datasets.rs
  backend/models/tests/common.rs
Owners: @alexander-jackson, @FreddieBrown

fixing tests for changes made
  backend/api-server/tests/assets/dasl.csv
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

more versatile route
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  web/src/components/ProjectView.vue
Owners: @alexander-jackson, @hallnath1

updated tests
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

refactor: use `chunks` over a manual approach
  backend/dcl/src/job_end/mod.rs
Owners: @FreddieBrown

fixed predictions deletion
  backend/models/src/predictions.rs
  backend/models/tests/delete_items.rs
Owners: none

Freddie/gridfs (#333)
  backend/Cargo.lock
  backend/analytics/src/dataset_analysis/mod.rs
  backend/api-server/Cargo.toml
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/assets/asl.csv
  backend/api-server/tests/assets/dasl.csv
  backend/api-server/tests/projects.rs
  backend/dcl/Cargo.toml
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/mod.rs
  backend/models/Cargo.toml
  backend/models/src/datasets.rs
  backend/models/src/gridfs.rs
  backend/models/src/predictions.rs
  backend/models/tests/common.rs
  backend/models/tests/delete_items.rs
  backend/utils/Cargo.toml
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOutput.vue
  web/src/components/ProjectOverview.vue
  web/src/components/ProjectView.vue
  web/src/services/UploadFilesService.js
Owners: @alexander-jackson, @FreddieBrown, @hallnath1

fix: formatting
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

refactor: reduce repeated code
  backend/Cargo.lock
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

fixed project tests
  backend/api-server/tests/projects.rs
Owners: @alexander-jackson

fix failing test
  backend/api-server/tests/common.rs
  backend/api-server/tests/users.rs
Owners: @alexander-jackson
