Repository Sybl-ml/dodona, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexander-jackson, @AlistairRobinson, @FreddieBrown, @G-Kemp101, @hallnath1

.github/CODEOWNERS:

/backend/api-server @alexander-jackson
/backend/crypto @AlistairRobinson
/backend/dcl @FreddieBrown
/backend/interface @alexander-jackson
/mallus @G-Kemp101
/web @hallnath1

Changed call order to match working function
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Formatting fix
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Reintroduced analytic message function calls for both upload methods (#349)
  backend/api-server/src/routes/projects.rs
  web/src/components/ProjectOverview.vue
Owners: @alexander-jackson, @hallnath1

adding new pagination endpoint to frontend
  web/src/components/PaginationTable.vue
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOutput.vue
Owners: @hallnath1

table renders without data
  web/src/components/PaginationTable.vue
Owners: @hallnath1

collects and renders data
  backend/api-server/src/routes/projects.rs
  web/src/components/PaginationTable.vue
  web/src/components/ProjectOutput.vue
Owners: @alexander-jackson, @hallnath1

expand get_dataset
  backend/api-server/src/routes/projects.rs
  web/src/components/ProjectOutput.vue
Owners: @alexander-jackson, @hallnath1

feat: improve logging in the DCL
  backend/config/src/lib.rs
  backend/dcl/src/health/mod.rs
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/lib.rs
  backend/dcl/src/main.rs
  backend/dcl/src/node_end/mod.rs
  backend/models/src/gridfs.rs
  backend/models/src/job_performance.rs
  backend/utils/src/lib.rs
  backend/utils/tests/anon.rs
Owners: @FreddieBrown

accurate dataset sizing in DD
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

fixed pagination endpoint
  backend/api-server/src/routes/projects.rs
  web/src/components/PaginationTable.vue
Owners: @alexander-jackson, @hallnath1

cleanup input and output tabs
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOutput.vue
  web/src/components/ProjectView.vue
Owners: @hallnath1

fixing download CSV button frontend
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOutput.vue
Owners: @hallnath1

feat: improve logging output (#354)
  backend/Cargo.lock
  backend/api-server/src/main.rs
  backend/api-server/src/routes/projects.rs
  backend/config/src/lib.rs
  backend/dcl/src/health/mod.rs
  backend/dcl/src/interface_end/mod.rs
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/src/lib.rs
  backend/dcl/src/main.rs
  backend/dcl/src/node_end/mod.rs
  backend/models/Cargo.toml
  backend/models/src/dataset_analysis.rs
  backend/models/src/dataset_details.rs
  backend/models/src/datasets.rs
  backend/models/src/gridfs.rs
  backend/models/src/job_performance.rs
  backend/models/src/jobs.rs
  backend/models/src/models.rs
  backend/models/src/predictions.rs
  backend/models/src/projects.rs
  backend/models/src/users.rs
  backend/utils/src/lib.rs
  backend/utils/tests/anon.rs
Owners: @alexander-jackson, @FreddieBrown

fix: update model status on death
  backend/dcl/src/health/mod.rs
Owners: @FreddieBrown

fix: update model status on death (#356)
  backend/dcl/src/health/mod.rs
Owners: @FreddieBrown

provide prediction full dataset endpoint
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Updated layout of the landing page and included particle background effects
  web/package.json
  web/src/views/Login.vue
  web/src/views/Register.vue
  web/src/views/Welcome.vue
  web/vue.config.js
Owners: @hallnath1

Created custom speedometer for model performance
  web/src/components/charts/Speedometer.vue
Owners: @hallnath1

Standardised formatting
  web/src/views/KeyConfirmation.vue
Owners: @hallnath1

Experiment with markdown parser and speedometer
  web/src/views/Nodes.vue
Owners: @hallnath1

CI failures
  backend/api-server/src/routes/projects.rs
  backend/dcl/src/job_end/mod.rs
Owners: @alexander-jackson, @FreddieBrown

fixed merge issues and tests pass
  backend/api-server/tests/projects.rs
  backend/dcl/src/job_end/mod.rs
Owners: @alexander-jackson, @FreddieBrown

better code containment
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

more cleaning up
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

feat: update layout and particles (#360)
  web/package.json
  web/src/views/Login.vue
  web/src/views/Register.vue
  web/src/views/Welcome.vue
  web/vue.config.js
Owners: @hallnath1

style: change to grey cobwebs and reduce count
  web/src/views/Welcome.vue
Owners: @hallnath1

style: change to grey cobwebs and reduce count (#361)
  web/src/views/Welcome.vue
Owners: @hallnath1

first PR corrections
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/routes/projects.rs
  backend/dcl/src/node_end/mod.rs
  backend/models/src/gridfs.rs
  backend/utils/src/lib.rs
  backend/utils/tests/common.rs
Owners: @alexander-jackson, @FreddieBrown

better pagination page retrivel
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

change function name
  backend/api-server/src/routes/projects.rs
  backend/utils/src/lib.rs
  backend/utils/tests/common.rs
Owners: @alexander-jackson

last changes
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

remove async from fn
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

better end calculation
  backend/api-server/src/routes/projects.rs
Owners: @alexander-jackson

Small changes for better mobile compatibility
  web/src/components/Header.vue
  web/src/views/Dashboard.vue
  web/src/views/Welcome.vue
Owners: @hallnath1

Included particle effect for dashboard
  web/src/components/ProjectView.vue
  web/src/views/Dashboard.vue
Owners: @hallnath1

Change to match particle effect to landing page
  web/src/views/Login.vue
  web/src/views/Register.vue
Owners: @hallnath1

feat: pagination (#357)
  backend/Cargo.lock
  backend/api-server/Cargo.toml
  backend/api-server/src/lib.rs
  backend/api-server/src/routes/projects.rs
  backend/api-server/tests/projects.rs
  backend/dcl/src/job_end/ml.rs
  backend/dcl/src/job_end/mod.rs
  backend/dcl/tests/job.rs
  backend/models/src/gridfs.rs
  backend/utils/src/lib.rs
  backend/utils/tests/common.rs
  web/src/components/PaginationTable.vue
  web/src/components/ProjectInput.vue
  web/src/components/ProjectOutput.vue
  web/src/components/ProjectView.vue
Owners: @alexander-jackson, @FreddieBrown, @hallnath1

feat: improve mobile compatibility (#362)
  web/src/components/Header.vue
  web/src/components/ProjectView.vue
  web/src/views/Dashboard.vue
  web/src/views/Login.vue
  web/src/views/Register.vue
  web/src/views/Welcome.vue
Owners: @hallnath1

feat: add pricing page
  web/src/components/Header.vue
  web/src/router/index.js
  web/src/views/Pricing.vue
Owners: @hallnath1

feat: add pricing page (#364)
  web/src/components/Header.vue
  web/src/router/index.js
  web/src/views/Pricing.vue
Owners: @hallnath1
